body {
    min-height: 150vh;

    .album {
        width: 100%;
        height: 100vh;
        display: flex;
        position: relative;

        >div {
            width: 20px;
            height: 70%;
            flex-grow: 1;
            /* border: 1px solid black; */
            transition: 0.8s;
            background-size: auto 100%;
            margin-top: 100px;
            position: relative;
            border-radius: 120px;

            &:hover {
                flex-grow: 10;

                &::before {
                    background-color: rgba(0, 0, 0, 0);
                }
            }

            &:nth-of-type(odd) {
                background-image: url(../img/48.png);
            }

            &:nth-of-type(even) {
                background-image: url(../img/106.png);
            }

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.403);
                position: absolute;
                transition: 0.5s;
                border-radius: 120px;

            }
        }
    }

    .id {
        position: fixed;
        bottom: 20px;
        right: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 25px;

        .profile {
            display: flex;
            align-items: center;
            gap: 15px;

            >img {
                width: 140px;
                height: 140px;
                border-radius: 100%;
                object-fit: cover;
            }

            .socials {
                /* display: flex; */
                font-size: 25px;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;

                >a {
                    display: flex;
                    color: black;

                }
            }
        }
    }
}